/* .page-controls{
    position: absolute;
    bottom: -100px;
    left: 650px;
    max-height:1000px;
    border: 15px solid black;
    justify-content: center;
    text-align: center;
    display:none;
};


.parent__style{ 
    display: flex; 
    justify-content: center;
    width:65%;
    flex-direction: column;
    align-items: center;
    font-size:25px;
    font-weight:bold;
    border: 15px solid red;
    height:1000px;
}

.parent__style:hover {
    .page-controls{
        display: flex;
    }
} */